<nav class="navbar flex-aj">
    <ul class="nav-items flex-aj">
        <li class="nav-logo">ToDo</li>
        <li class="nav-item hide"><a class='nav-link' href="/logout"
                style="color: aliceblue; text-decoration: none;">logout</a></li>
    </ul>
    <button id="menu-btn" onClick="viewListNames()"><i class="fa-solid fa-bars fa-2xl"
            style="color: #eeeeec;"></i></button>
</nav>